.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.another{
  height: 200px;
}

/* These are the clas names for the indiviual components that make up 
the body  */

.header{
border: 1px solid red;
}

.alldata{
border: 1px solid red;

}
.navbar{
border: 1px solid red;

}


/* This class holds the 3 components in the body component */
.body-holder{
  width: 95%;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .body-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
